.contacts-form {
}
.contacts-form__container {
  padding-top: 12rem;
  padding-bottom: 16rem;
  position: relative;
}
.contacts-form__form-block {
  background-color: white;
  padding: 56px 48px;
  width: 100%;
  max-width: 608px;
  border: 1px solid rgba(206, 209, 216, 1);
}
.contacts-form__title {
  font-family: 'Inter';
  font-size: 3.6rem;
  font-weight: 600;
  line-height: calc(44 / 36 * 100%);
  margin-bottom: 20px;
}
.contacts-form__subtitle {
  font-family: 'Inter';
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(30 / 18 * 100%);
  color: rgba(126, 132, 146, 1);
  margin-bottom: 48px;
  span {
    margin-left: 5px;
    font-weight: 500;
    color: rgba(20, 99, 255, 1);
  }
}
label {
  font-family: 'Inter';
  font-size: 1.4rem;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%);
}
input {
  margin-top: 6px;
  padding: 0px 14px;
  display: block;
  height: 44px;
  width: 100%;
  border: 1px solid rgba(237, 237, 237, 1);
  border-radius: 8px;
}
textarea {
  margin-top: 6px;
  padding: 10px 14px;
  height: 134px;
  width: 100%;
  border: 1px solid rgba(237, 237, 237, 1);
  border-radius: 8px;
  margin-bottom: 8px;
}
.contacts-form__form {
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form__name-row {
  display: flex;
  gap: 32px;
}
.form__first-name {
  flex-grow: 1;
}
.form__second-name {
  flex-grow: 1;
}
.form__button {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: calc(24 / 16 * 100%);
  color: rgba(255, 255, 255, 1);
  margin: 0 auto;
  padding: 16px 32px;
  background: rgba(29, 30, 37, 1);
  border-radius: 100px;
}
.contacts-form__img {
  position: absolute;
  z-index: -1;
  top: 120px;
  right: -120px;
}
@media (max-width: 992px) {
  .contacts-form__img {
    display: none;
  }
  .contacts-form__form-block {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .contacts-form__form-block {
    padding: 24px 24px;
  }
  .contacts-form__title {
    font-size: 2.7rem;
  }
  .contacts-form__subtitle {
    span {
      display: block;
      margin-left: 0px;
    }
  }
}
@media (max-width: 375px) {
  .contacts-form__container {
    padding-top: 28px;
    padding-bottom: 80px;
  }
  .contacts-form__title {
    font-size: 18px;
    line-height: calc(26 / 18 * 100%);
    margin-bottom: 12px;
  }
  .contacts-form__subtitle {
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    margin-bottom: 24px;
  }
  .form__name-row {
    flex-wrap: wrap;
  }
  label {
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
  }
  .form__button {
    padding: 12px 24px;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
  }
}
