.blog-articles__container {
  padding-top: 16rem;
  padding-bottom: 8rem;
}
.blog-articles__top-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 24px;
}
.blog-articles__text {
  max-width: 435px;
}
.blog-articles__title {
  font-family: "Inter";
  font-size: 5.6rem;
  font-weight: 600;
  line-height: calc(67 / 56 * 100%);
  letter-spacing: -2px;
  margin-bottom: 2.4rem;
}
.blog-articles__subtitle {
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(32 / 18 * 100%);
  letter-spacing: 0px;
  color: rgba(126, 132, 146, 1);
}
.blog-articles__slider-block {
  margin-left: calc((100% - 1200px) / 2);
  margin-bottom: 16rem;
  overflow: hidden;
}
.blog-articles__slider {
  display: flex;
  gap: calc(30 / 2670 * 100%);
  width: calc(2670 / 1320 * 100%);
}
.blog-articles__item {
  min-width: 263px;
  flex: 0 0 calc(420 / 2670 * 100%);
}
.blog-articles__item-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2.4rem;
}
.blog-articles__item-title {
  font-family: "Inter";
  font-size: 3.2rem;
  font-weight: 600;
  line-height: calc(42 / 32 * 100%);
  letter-spacing: -1px;
  margin-bottom: 1.6rem;
}
.blog-articles__item-text {
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(32 / 18 * 100%);
  letter-spacing: 0px;
  margin-bottom: 2.4rem;
  color: rgba(126, 132, 146, 1);
}
.blog-articles__item-button {
  padding: 16px 45.5px;
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: calc(24 / 16 * 100%);
  text-align: center;
  border: 1px solid rgba(206, 209, 216, 1);
  border-radius: 100px;
  &:hover {
    transform: none;
    background-color: rgb(205, 207, 210);
  }
}
@media (max-width: 1240px) {
  .blog-articles__slider-block {
    margin-left: 20px;
  }
}
@media (max-width: 1200px) {
  .blog-articles__slider-block {
    margin-left: calc((100% - 993px) / 2 + 20px);
    margin-bottom: 16rem;
  }
  .blog-articles__slider {
    gap: calc(30 / 2670 * 100%);
    width: calc(2670 / 1320 * 100%);
  }
  .blog-articles__item {
    flex: 0 0 calc(420 / 2670 * 100%);
  }
}
@media (max-width: 992px) {
  .blog-articles__slider-block {
    margin-left: calc((100% - 769px) / 2);
    overflow: auto;
  }
  .blog-articles__slider {
    margin-left: 20px;
  }
  .blog-articles__item-img {
    margin-bottom: 16px;
  }
  .blog-articles__item-title {
    font-size: 2.4rem;
    margin-bottom: 8px;
  }
  .blog-articles__item-text {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .blog-articles__slider-block {
    margin-left: 0px;
  }
}
@media (max-width: 510px) {
  .blog-articles__title {
    font-size: 4.5rem;
  }
  .blog-articles__subtitle {
    font-size: 1.6rem;
  }
}
@media (max-width: 375px) {
  .blog-articles__container {
    padding-top: 56px;
    padding-bottom: 32px;
  }
  .blog-articles__title {
    font-size: 24px;
    line-height: calc(34 / 24 * 100%);
    letter-spacing: 0px;
    margin-bottom: 16px;
  }
  .blog-articles__subtitle {
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0px;
  }
  .blog-articles__right-button {
    height: 40px;
    width: 40px;
  }
  .blog-articles__left-button {
    height: 40px;
    width: 40px;
  }
  .blog-articles__item-title {
    font-size: 18px;
    line-height: calc(26 / 18 * 100%);
    letter-spacing: 0px;
  }
  .blog-articles__item-text {
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0px;
  }
  .blog-articles__item-button {
    padding: 12px 24px;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0px;
  }
  .blog-articles__slider-block {
    margin-bottom: 80px;
  }
}
