.companies__container {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
.companies__row {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.companies__text-block {
  flex-basis: 323px;
}
.companies__number {
  font-family: 'Inter';
  font-size: 5.6rem;
  font-weight: 600;
  line-height: calc(67 / 56 * 100%);
  letter-spacing: -2px;
  margin-bottom: 1.6rem;
}
.companies__text {
  @extend %heading_6;
  font-weight: 500;
  color: rgba(126, 132, 146, 1);
}
.companies__companies-block {
  flex-basis: 730px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
}
.companies__img-block {
  flex-basis: 160px;
  text-align: center;
  &::after {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
  }
}
.companies__img {
  vertical-align: middle;
}

@media (max-width: 992px) {
  .companies__row {
    flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .companies__row {
    gap: 32px;
  }
  .companies__container {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .companies__number {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    margin-bottom: 8px;
  }
  .companies__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
  }
  .companies__companies-block {
    justify-content: center;
  }
  .companies__img-block {
    flex-basis: 124px;
    height: 70px;
  }
}
