.footer {
  overflow: hidden;
}
.creative__container {
  padding-top: 8.7rem;
  padding-bottom: 14.1rem;
}
.creative__row {
  display: flex;
  justify-content: space-between;
  gap: 9.7rem;
  flex-wrap: wrap;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -7.4rem;
    height: 55.1rem;
    width: 55.1rem;
    border-radius: 100%;
    background: rgba(250, 117, 21, 1);
    opacity: 13%;
    filter: blur(70px);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 8rem;
    right: -16.4rem;
    height: 52.5rem;
    width: 52.5rem;
    border-radius: 100%;
    background: rgba(226, 248, 240, 1);
    z-index: -1;
    filter: blur(70px);
  }
}

.creative__text-column {
  flex-basis: 61.7rem;
}
.creative__title {
  font-family: "Inter";
  font-size: 8rem;
  font-weight: 700;
  line-height: calc(96 / 80 * 100%);
  letter-spacing: -3px;
  margin-bottom: 11.4rem;
}
.creative__subtitle {
  @extend %heading_4;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 6.9rem;
}
.creative__input-block {
  display: flex;
  gap: 1.6rem;
}
.creative__input {
  border-bottom: 1px solid rgba(206, 209, 216, 1);
  width: 28rem;
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(24 / 16 * 100%);
  color: rgba(126, 132, 146, 1);
}
.creative__img-column {
  flex-grow: 1;
}
.creative__images {
  position: relative;
  margin-bottom: 2.875rem;
  max-width: 48.6rem;
  margin-left: auto;
  margin-right: auto;
}
.creative__main-item {
  background: rgba(255, 255, 255, 1);
  width: calc(419 / 486 * 100%);
  padding: 1.8rem;
  box-shadow: 20px 40px 80px 0px rgba(89, 96, 135, 0.12);
}
.creative__main-title {
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(30 / 20 * 100%);
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}
.creative__main-img {
  display: block;
}
.creative__sub-item {
  background: rgba(255, 255, 255, 1);
  top: -5rem;
  right: 0;
  padding: 1.8rem;
  position: absolute;
  width: calc(213 / 484 * 100%);
  left: calc(339 / 484 * 100%);
  box-shadow: 20px 40px 80px 0px rgba(45, 51, 81, 0.12);
}
.creative__sub-title {
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: calc(30 / 20 * 100%);
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}
.creative__statistic {
  padding: 2rem 2.8rem;
  background: rgba(0, 0, 0, 1);
  border-radius: 8px;
  width: calc(419 / 486 * 100%);
  max-width: 48.6rem;
}
.creative__statistic-row {
  display: flex;
  justify-content: space-between;
}
.creative__statistic-column {
  display: flex;
  flex-direction: column;
}
.creative__statistic-title {
  font-family: "Inter";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: calc(20 / 14 * 100%);
  color: rgba(92, 97, 111, 1);
  margin-bottom: 0.4rem;
}
.creative__statistic-price {
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(26 / 20 * 100%);
  margin-bottom: 0.8rem;
  color: rgba(255, 255, 255, 1);
}
.creative__statistic-up {
  font-family: "Inter";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: calc(20 / 14 * 100%);
  color: rgba(96, 211, 156, 1);
  padding-left: 1.6rem;
  position: relative;
  &::before {
    content: "";
    height: 100%;
    width: 1.2rem;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("../img/icons/creative__statistic-up.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.creative__statistic-down {
  font-family: "Inter";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: calc(20 / 14 * 100%);
  color: rgba(227, 84, 84, 1);
  padding-left: 1.6rem;
  position: relative;
  &::before {
    content: "";
    height: 100%;
    width: 1.2rem;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("../img/icons/creative__statistic-down.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.creative__statistic-time {
  font-family: "Inter";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: calc(22 / 14 * 100%);
  letter-spacing: -0.5px;
  color: rgba(92, 97, 110, 1);
}

@media (max-width: 1200px) {
  .creative__statistic {
    margin-left: calc(233.5 / 953 * 100%);
    max-width: 41.9rem;
  }
  .creative__text-column {
    flex-basis: 100%;
  }
}
@media (max-width: 992px) {
  .creative__statistic {
    margin-left: calc(121.5 / 729 * 100%);
  }
}
@media (max-width: 768px) {
  .creative__statistic {
    margin: 0 auto;
  }
  .creative__row {
    &::before {
      content: "";
      height: 40rem;
      width: 40rem;
    }
    &::after {
      content: "";
      height: 35rem;
      width: 35rem;
    }
  }
}
@media (max-width: 576px) {
  .creative__text-column {
    max-width: 100%;
  }
  .creative__title {
    font-size: 6rem;
  }
  .creative__subtitle {
    font-size: 2.4rem;
  }
}
@media (max-width: 514px) {
  .creative__images {
    overflow: scroll;
    max-width: 100%;
  }
  .creative__sub-item {
    top: 0;
  }
  .creative__input-block {
    gap: 1rem;
  }
  .creative__input {
    max-width: 219px;
  }
}

@media (max-width: 425px) {
  .creative__title {
    font-size: 5rem;
  }
  .creative__subtitle {
    font-size: 2.2rem;
  }
  .creative__statistic {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .creative__button {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    width: 108px;
    height: 36px;
  }
}
@media (max-width: 381px) {
  .creative__sub-title {
    font-size: 9px;
    line-height: 17px;
    letter-spacing: -0.277752161026001px;
  }
  .creative__main-title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.401169091463089px;
  }
}

@media (max-width: 375px) {
  .creative__row {
    gap: 56px;
    &::before {
      content: "";
      top: -97px;
      left: -71px;
      height: 228px;
      width: 228px;
    }
    &::after {
      content: "";
      top: 95px;
      right: -117px;
      height: 197px;
      width: 197px;
    }
  }
  .creative__title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-bottom: 48px;
  }
  .creative__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .creative__container {
    padding-top: 32px;
    padding-bottom: 56.25px;
  }
  .creative__input {
    font-size: 14px;
    line-height: 20px;
  }
  .creative__images {
    margin-bottom: 24px;
  }
  .creative__statistic-title {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 2.23px;
  }
  .creative__statistic-price {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 5.45px;
  }
  .creative__statistic-persent {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.40086451172828674px;
  }
  .creative__statistic-up {
    margin-right: 6px;
  }
  .creative__statistic-down {
    margin-right: 6px;
  }
  .creative__statistic {
    padding: 16px 22.67px;
  }
  .creative__statistic-row {
    gap: calc(30 / 335 * 100%);
  }
  .creative__input {
    flex: 1 1 auto;
    width: 0;
  }
}
@media (max-width: 359px) {
  .creative__statistic-time {
    display: inline-block;
  }
}
