.new-heights {
}
.new-heights__container {
  padding-top: 6.6rem;
  padding-bottom: 16rem;
}
.new-heights__columns {
  display: flex;
  gap: 14.4rem;
  margin-bottom: 8rem;
}
.new-heights__column {
  flex: 1 1 160px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: -7.2rem;
    background: rgba(206, 209, 216, 1);
    width: 0.1rem;
    height: 9.9rem;
  }
  &:first-child::before {
    content: none;
  }
}
.new-heights__number {
  font-family: 'Inter';
  font-size: 6.4rem;
  font-weight: 600;
  line-height: calc(77 / 64 * 100%);
}
.new-heights__text {
  @extend %heading_6;
  font-weight: 500;
  color: rgba(126, 132, 146, 1);
}
.new-heights__img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 8rem;
}
.new-heights__row {
  display: flex;
  gap: 2.4rem;
}
.new-heights__title {
  flex-basis: 772px;
  font-family: 'Inter';
  font-size: 5.6rem;
  font-weight: 600;
  line-height: calc(67 / 56 * 100%);
  letter-spacing: -2px;
}
.new-heights__subtitle {
  flex-basis: 421px;
  @extend %heading_6;
  font-weight: 500;
  color: rgba(126, 132, 146, 1);
}
@media (max-width: 992px) {
  .new-heights__columns {
    flex-wrap: wrap;
  }
  .new-heights__row {
    flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .new-heights__container {
    padding-top: 26px;
    padding-bottom: 28px;
  }
  .new-heights__number {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -1px;
  }
  .new-heights__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
  }
  .new-heights__columns {
    row-gap: 16px;
    column-gap: 32px;
    margin-bottom: 32px;
  }
  .new-heights__column {
    flex: 0 1 auto;
    gap: 8px;
    &:nth-child(odd) {
      max-width: 160px;
    }
    &:nth-child(even) {
      max-width: 143px;
    }
    &::before {
      top: 17px;
      left: -16px;
      background: rgba(206, 209, 216, 1);
      width: 1px;
      height: 64px;
    }
  }
  .new-heights__img {
    margin-bottom: 40px;
  }
  .new-heights__title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0px;
  }
  .new-heights__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
  }
  .new-heights__row {
    gap: 16px;
  }
}
