.footer {
  overflow: hidden;
}
.footer__top {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -6.9rem;
    height: 62.1rem;
    width: 62.1rem;
    border-radius: 100%;
    background: rgba(250, 117, 21, 1);
    opacity: 13%;
    z-index: -1;
    filter: blur(80px);
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 12.5rem;
    right: -38.25rem;
    height: 52.5rem;
    width: 52.5rem;
    border-radius: 100%;
    background: rgba(226, 248, 240, 0.7);
    z-index: -1;
    filter: blur(80px);
  }
}
.footer-top {
}
.footer-top__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11.2rem;
  padding-bottom: 5.2rem;
}
.footer-top__text {
  flex-basis: 720px;
  z-index: 1;
}
.footer-top__title {
  @extend %heading_2;
  font-weight: 600;
  font-size: 6.4rem;
  margin-bottom: 3.2rem;
}
.footer-top__subtitle {
  @extend %heading_5;
  max-width: 643px;
  font-weight: 600;
}
.footer-top__button {
}
.footer__middle {
  padding-top: 7.6rem;
  padding-bottom: 7.9rem;
}
.footer-middle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #ced1d8;
}
.footer-middle__logo-column {
  flex-basis: 292px;
}
.footer-middle__logo {
  margin-bottom: 0.4rem;
}
.footer-middle__logo-text {
  @extend %body_large;
  font-weight: 500;
  color: rgba(126, 132, 146, 1);
}
.footer-middle__row {
  display: flex;
  flex-wrap: wrap;
  gap: 9.333rem;
}
.footer-middle__column {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  z-index: 10;
}
.footer-middle__column-title {
  @extend %body_large;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.footer-middle__column-text {
  @extend %body_large;
  font-weight: 400;
}
.footer__bottom {
  padding-top: 4.6rem;
  padding-bottom: 5.9rem;
}
.footer-bottom {
}
.footer-bottom__text {
  @extend %body_large;
  font-weight: 400;
  color: #afb3bb;
  text-align: center;
}
.footer-middle992__block {
  flex-grow: 1;
  display: none;
  flex-direction: column;
  justify-content: center;
}
.footer-middle992__icons-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.footer-middle992__icon {
  z-index: 1;
}
.footer-middle992__links-row {
  display: flex;
  justify-content: space-around;
}
.footer-middle992__link {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0px;
  a {
    color: rgba(126, 132, 146, 1);
  }
}
@media (max-width: 1200px) {
  .footer-middle__row {
    flex-grow: 1;
    gap: 0px;
    justify-content: space-around;
  }
}
@media (max-width: 992px) {
  .footer-middle__row {
    display: none;
  }
  .footer-middle992__block {
    display: flex;
  }
}
@media (max-width: 768px) {
  .footer-top__row {
    flex-wrap: wrap;
    gap: 24px;
  }
  .footer-top__button {
    margin-left: 10rem;
  }
  .footer-top__title {
    font-size: 5.8rem;
  }
  .footer-middle {
    display: block;
    border-bottom: none;
  }
  .footer-middle__logo-column {
    max-width: calc(292 / 729 * 100%);
    margin-bottom: 56px;
  }
  .footer-middle992__block {
    margin: 0 auto;
    width: 80%;
    padding-top: 40px;
    border-top: 1px solid rgba(206, 209, 216, 1);
  }
  .footer-bottom {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .footer-middle__logo-column {
    max-width: calc(248 / 335 * 100%);
  }
}
@media (max-width: 576px) {
  .footer-top__title {
    font-size: 4.8rem;
  }
  .footer-top__subtitle {
    padding-left: 43px;
    &::before {
      width: 35px;
    }
  }
  .footer-top__button {
    margin-left: 43px;
  }
  .footer-middle992__block {
    width: 100%;
  }
  .footer-middle992__icons-row {
    gap: calc(24 / 335 * 100%);
    justify-content: center;
  }
  .footer-middle992__links-row {
    gap: calc(24 / 335 * 100%);
    justify-content: center;
  }
  .footer-middle {
    padding-bottom: 24px;
  }
}
@media (max-width: 375px) {
  .footer-top__row {
    padding-top: 51px;
    padding-bottom: 56px;
  }
  .footer-top__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0px;
    margin-bottom: 24px;
  }
  .footer-middle {
    padding-top: 0px;
  }
  .footer-top__button {
    width: 142px;
    height: 44px;
  }
  .footer-middle__logo-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
  }
  .footer__top {
    &::before {
      top: -31px;
      left: -94px;
      height: 221px;
      width: 221px;
    }
    &::after {
      top: auto;
      bottom: -233px;
      right: -146.5px;
      height: 293px;
      width: 293px;
    }
  }
}
@media (max-width: 369px) {
  .footer-middle992__links-row {
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 347px) {
  .footer-middle992__links-row {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
