.about-main__container {
  padding-top: 10.5rem;
  padding-bottom: 16.5rem;
}
.container {
}
.about-main__title {
  font-family: 'Inter';
  font-size: 7.2rem;
  font-weight: 700;
  line-height: calc(86 / 72 * 100%);
  letter-spacing: -3px;
  margin-bottom: 11.8rem;
  max-width: calc(959 / 1200 * 100%);
}
.about-main__subtitle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13.5rem;
}
.about-main__subtitle {
  font-family: 'Inter';
  font-size: 3.2rem;
  font-weight: 600;
  line-height: calc(42 / 32 * 100%);
  letter-spacing: -1px;
  max-width: calc(838 / 1200 * 100%);
}
.line-subtitle {
}
.about-main__button {
}
.about-main__button-link {
}
.about-main__content {
  overflow: auto;
}
.about-main__slider {
  display: flex;
  gap: calc(32 / 1570 * 100%);
  justify-content: space-between;
  width: calc(1570 / 1200 * 100%);
  overflow-x: scroll;
  position: relative;
}
.about-main__drag-block {
  position: absolute;
  width: calc(100 / 1570 * 100%);
  padding-bottom: calc(100 / 1570 * 100%);
  border-radius: 100%;
  left: calc(464 / 1570 * 100%);
  top: 10rem;
  background: rgba(255, 255, 255, 1);
  img {
    width: calc(28 / 100 * 100%);
    top: 41%;
    left: 36%;
    position: absolute;
  }
}
.about-main__arrow-left {
}
.about-main__arrow-right {
}
.about-main__item {
  display: flex;
  flex-direction: column;
  width: calc(502 / 1570 * 100%);
}
.about-main__img2 {
  margin-bottom: 2.4rem;
}
.about-main__item-title {
  font-family: 'Inter';
  font-size: 3.2rem;
  font-weight: 600;
  line-height: calc(48 / 32 * 100%);
}
.about-main__item-text {
  font-family: 'Inter';
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(32 / 18 * 100%);
  color: rgba(126, 132, 146, 1);
  margin-bottom: 3.2rem;
}
.about-main__item-button {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: calc(24 / 16 * 100%);
  padding: 16px 34px;
  background: rgba(29, 30, 37, 1);
  border-radius: 100px;
  color: rgba(255, 255, 255, 1);
  max-width: 175px;
}
@media (max-width: 992px) {
  .about-main__img2 {
    margin-bottom: 0.5rem;
  }
  .about-main__item-title {
    font-size: 3rem;
  }
  .about-main__item-text {
    font-size: 1.6rem;
  }
  .about-main__item-text {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .about-main__item:nth-child(2) {
    display: none;
  }
  .about-main__item:nth-child(4) {
    display: none;
  }
  .about-main__drag-block {
    display: none;
  }
  .about-main__slider {
    width: 100%;
  }
  .about-main__item {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
}
@media (max-width: 708px) {
  .about-main__title {
    font-size: 5.8rem;
    max-width: 100%;
  }
  .about-main__subtitle-row {
    flex-wrap: wrap;
    margin-bottom: 6rem;
  }
  .about-main__subtitle {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .about-main__button {
    flex: 1 1 100%;
    text-align: end;
  }
}
@media (max-width: 510px) {
  .about-main__title {
    font-size: 4.5rem;
  }
  .about-main__subtitle {
    font-size: 2.4rem;
  }
  .about-main__button-link {
    img {
      width: 100px;
    }
  }
}
@media (max-width: 375px) {
  .about-main__container {
    padding-top: 32px;
    padding-bottom: 56px;
  }
  .about-main__title {
    font-size: 32px;
    line-height: calc(40 / 32 * 100%);
    letter-spacing: -1px;
    margin-bottom: 48px;
  }
  .about-main__subtitle {
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0px;
  }
  .about-main__button-link {
    img {
      width: 69px;
    }
  }
  .about-main__subtitle-row {
    margin-bottom: 8px;
  }
  .about-main__item-title {
    font-size: 18px;
    line-height: calc(26 / 18 * 100%);
    letter-spacing: 0px;
    margin-bottom: 8px;
  }
  .about-main__item-text {
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0;
    margin-bottom: 16px;
  }
  .about-main__item-button {
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0;
  }
}
