.about-team__container {
  padding-top: 16rem;
  padding-bottom: 16rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 52.5rem;
    height: 52.5rem;
    top: 1rem;
    right: -17.1rem;
    border-radius: 100%;
    background: rgba(226, 248, 240, 1);
    z-index: -1;
    filter: blur(70px);
  }
}

.about-team__title {
  font-family: "Inter";
  font-size: 5.6rem;
  font-weight: 600;
  line-height: calc(67 / 56 * 100%);
  letter-spacing: -2px;
  max-width: calc(900 / 1200 * 100%);
  margin-bottom: 2.4rem;
}
.about-team__subtitle {
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(126, 132, 146, 1);
  line-height: calc(32 / 18 * 100%);
  max-width: calc(534 / 1200 * 100%);
  margin-bottom: 8rem;
}
.about-team__slider-block {
  overflow: hidden;
  margin-bottom: 10rem;
  position: relative;
}
.about-team__button-block {
  position: absolute;
  width: calc(80 / 1200 * 100%);
  padding-top: calc(80 / 1200 * 100%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100%;
  left: calc(354 / 1200 * 100%);
  top: calc(177 / 521 * 100%);
  z-index: 12;
}
.about-team__arrow-left {
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  top: calc(50% - 7px);
  left: 25%;
  transform: rotate(-45deg);
  border-top: 2px solid rgba(126, 132, 146, 1);
  border-left: 2px solid rgba(126, 132, 146, 1);
  &:hover {
    transform: rotate(-45deg);
  }
}
.about-team__arrow-right {
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  top: calc(50% - 7px);
  right: 25%;
  transform: rotate(45deg);
  border-top: 2px solid rgba(126, 132, 146, 1);
  border-right: 2px solid rgba(126, 132, 146, 1);
  &:hover {
    transform: rotate(45deg);
  }
}
.about-team__slider {
  width: calc(2433 / 1200 * 100%);
  gap: calc(33 / 2433 * 100%);
  display: inline-flex;
  transition: all 0.5s;
}
.about-team__item {
  max-width: calc(378 / 2433 * 100%);
  min-width: 247px;
}
.about-team__img {
  margin-bottom: 1.6rem;
}
.about-team__item-row {
  display: flex;
  justify-content: space-between;
}
.about-team__item-name {
  font-family: "Inter";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: calc(36 / 24 * 100%);
  margin-bottom: 0.8rem;
}
.about-team__item-job {
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(27 / 18 * 100%);
  color: rgba(126, 132, 146, 1);
}
.about-team__item-links {
  display: flex;
  flex-shrink: 0;
  gap: 0.8rem;
}
.about-team__item-link {
  img:hover {
    transform: scale(1.2);
  }
}
.about-team__text-block {
  display: flex;
  justify-content: space-between;
}
.about-team__first-column {
  flex-basis: calc(626 / 1200 * 100%);
  font-family: "Inter";
  font-size: 5.6rem;
  font-weight: 600;
  line-height: calc(67 / 56 * 100%);
  letter-spacing: -2px;
}
.about-team__second-column {
  flex-basis: calc(506 / 1200 * 100%);
}
.about-team__subtext {
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(32 / 18 * 100%);
  color: rgba(126, 132, 146, 1);
  margin-bottom: 2.4rem;
}
.about-team__link {
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: calc(24 / 16 * 100%);
}
@media (max-width: 992px) {
  .about-team__item-name {
    font-size: 1.8rem;
  }
  .about-team__item-job {
    font-size: 1.5rem;
  }
  .about-team__title {
    max-width: 100%;
  }
  .about-team__subtitle {
    max-width: 100%;
  }
  .about-team__slider-block {
    overflow: auto;
  }
  .about-team__button-block {
    width: 40px;
    padding-top: 40px;
    left: 237px;
    top: 122px;
  }
  .about-team__arrow-left {
    height: 10px;
    width: 10px;
    top: calc(50% - 5px);
    left: 25%;
  }
  .about-team__arrow-right {
    height: 10px;
    width: 10px;
    top: calc(50% - 5px);
    right: 25%;
  }
  .about-team__slider {
    width: calc(1562 / 729 * 100%);
    gap: 16px;
  }
  .about-team__button-block {
    left: 237px;
  }
  .about-team__text-block {
    flex-wrap: wrap;
    gap: 24px;
  }
  .about-team__first-column {
    flex: 1 1 100%;
  }
  .about-team__second-column {
    flex: 1 1 100%;
  }
}
@media (max-width: 768px) {
  .about-team__text-block {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .about-team__first-column {
    flex: 1 1 100%;
  }
  .about-team__second-column {
    flex: 1 1 100%;
  }
}
@media (max-width: 510px) {
  .about-team__title {
    font-size: 4.5rem;
  }
  .about-team__item-link {
    height: 26px;
    width: 26px;
  }
  .about-team__first-column {
    font-size: 4.5rem;
  }
}
@media (max-width: 375px) {
  .about-team__container {
    padding-top: 56px;
    padding-bottom: 80px;
  }
  .about-team__slider-block {
    margin-bottom: 56px;
  }
  .about-team__title {
    font-size: 24px;
    font-weight: 600;
    line-height: calc(34 / 24 * 100%);
    letter-spacing: 0px;
    margin-bottom: 16px;
  }
  .about-team__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0px;
    margin-bottom: 32px;
  }
  .about-team__item-link {
    gap: 8px;
  }
  .about-team__item-link {
    height: 20px;
    width: 20px;
  }
  .about-team__first-column {
    font-size: 24px;
    font-weight: 600;
    line-height: calc(34 / 24 * 100%);
    letter-spacing: 0px;
    margin-bottom: 16px;
  }
  .about-team__subtext {
    font-size: 14px;
    font-weight: 500;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0px;
    margin-bottom: 16px;
  }
  .about-team__link {
    font-size: 14px;
    font-weight: 600;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0px;
  }
  .about-team__container {
    &::after {
      content: "";
      width: 440px;
      height: 440px;
      top: 96px;
      left: 93px;
    }
  }
}
