.about-quote {
}
.about-quote__container {
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
  border-top: 1px solid rgba(237, 237, 237, 1);
  border-bottom: 1px solid rgba(237, 237, 237, 1);
}
.container {
}
.about-quote__row {
  display: flex;
  justify-content: space-between;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -43.4rem;
    left: 2.1rem;
    height: 55.1rem;
    width: 55.1rem;
    border-radius: 100%;
    background: rgba(250, 117, 21, 1);
    opacity: 13%;
    filter: blur(70px);
    z-index: -1;
  }
}
.about-quote__title {
  flex-basis: calc(480 / 1200 * 100%);
  font-family: 'Inter';
  font-size: 5.6rem;
  font-weight: 600;
  line-height: calc(67 / 56 * 100%);
  letter-spacing: -2px;
}
.about-quote__subtitle {
  flex-basis: calc(522 / 1200 * 100%);
  font-family: 'Inter';
  font-size: 2.4rem;
  font-weight: 600;
  line-height: calc(36 / 24 * 100%);
}
@media (max-width: 992px) {
  .about-quote__row {
    flex-wrap: wrap;
    gap: 30px;
  }
  .about-quote__title {
    flex: 1 1 100%;
  }
  .about-quote__subtitle {
    flex: 1 1 100%;
  }
}
@media (max-width: 510px) {
  .about-quote__title {
    font-size: 4.5rem;
  }
  .about-quote__subtitle {
    font-size: 2.2rem;
  }
}
@media (max-width: 375px) {
  .about-quote__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .about-quote__row {
    gap: 16px;
  }
  .about-quote__title {
    font-size: 24px;
    line-height: calc(34 / 24 * 100%);
    letter-spacing: 0px;
  }
  .about-quote__subtitle {
    font-size: 14px;
    line-height: calc(24 / 14 * 100%);
    letter-spacing: 0;
  }
  .about-quote__row {
    &::before {
      content: '';
      top: -33.7rem;
      left: -6.3rem;
      height: 21.2rem;
      width: 21.2rem;
    }
  }
}
