.pricing-plans__container {
  padding-top: 9rem;
  padding-bottom: 7.8rem;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -7rem;
    height: 55.1rem;
    width: 55.1rem;
    border-radius: 100%;
    background: rgba(250, 117, 21, 1);
    opacity: 13%;
    z-index: -1;
    filter: blur(70px);
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 18.6rem;
    right: -16.4rem;
    height: 52.5rem;
    width: 52.5rem;
    border-radius: 100%;
    background: rgba(226, 248, 240, 1);
    z-index: -1;
    filter: blur(70px);
  }
}

.pricing-plans__title {
  max-width: 903px;
  font-family: 'Inter';
  font-size: 7.2rem;
  font-weight: 700;
  line-height: calc(86 / 72 * 100%);
  letter-spacing: -3px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5.6rem;
}
.pricing-plans__annual-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 19.8rem;
}
.pricing-plans__annual-button {
  width: 44px;
  height: 24px;
  border-radius: 12px;
  background: rgba(237, 237, 237, 1);
  position: relative;
}
.pricing-plans__annual-button-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: grey;
  top: 2px;
  left: 2px;
  transition: all 0.5s;
}
.pricing-plans__annual-button-circle.active {
  background: rgba(20, 99, 255, 1);
  transform: translateX(20px);
}
.pricing-plans__annual-text {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(26 / 16 * 100%);
  color: rgba(126, 132, 146, 1);
}
.pricing-plans__plans-row {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.pricing-plans__plan {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  border: 1px solid rgba(237, 237, 237, 1);
  border-radius: 16px;
  max-width: 378px;
  &:nth-child(2) {
    transform: translateY(-7.6rem);
    background-color: rgba(22, 26, 52, 1);
    color: rgba(255, 255, 255, 1);
    .pricing-plans__plan-price {
      span {
        color: rgba(255, 255, 255, 1);
      }
    }
    .pricing-plans__plan-button {
      color: rgba(29, 30, 37, 1);
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

.pricing-plans__plan-icon {
  background-color: rgba(245, 245, 245, 1);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6rem;
}
.pricing-plans__plan-icon_blue {
  background-color: rgba(20, 99, 255, 1);
}
.pricing-plans__plan-title {
  font-family: 'Inter';
  font-size: 2.4rem;
  font-weight: 600;
  line-height: calc(34 / 24 * 100%);
  margin-bottom: 0.8rem;
}
.pricing-plans__plan-text {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(26 / 16 * 100%);
  margin-bottom: 2.4rem;
  color: rgba(126, 132, 146, 1);
}
.pricing-plans__plan-price {
  font-family: 'Inter';
  font-size: 5.6rem;
  font-weight: 600;
  line-height: calc(67 / 56 * 100%);
  letter-spacing: -2px;
  margin-bottom: 2.4rem;
  span {
    font-family: 'Inter';
    font-size: 1.6rem;
    font-weight: 500;
    line-height: calc(26 / 16 * 100%);
    color: rgba(126, 132, 146, 1);
    padding-left: 8px;
  }
}
.pricing-plans__plan-icluded {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: calc(24 / 16 * 100%);
  margin-bottom: 1.6rem;
}
.pricing-plans__plan-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 4rem;
}
.pricing-plans__list-item {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(26 / 16 * 100%);
  padding-left: 32px;
  position: relative;
  &::before {
    content: url('../img/icons/pricing-plans__check1.svg');
    left: 0;
    top: calc(50% - 10px);
    position: absolute;
  }
}
.pricing-plans__list-item_line-through {
  text-decoration: line-through;
  color: rgba(126, 132, 146, 1);
  &::before {
    content: url('../img/icons/pricing-plans__check2.svg');
    left: 0;
    top: calc(50% - 10px);
    position: absolute;
  }
}
.pricing-plans__plan-button {
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid rgba(206, 209, 216, 1);
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 600;
  line-height: calc(24 / 16 * 100%);
}
@media (max-width: 1200px) {
  .pricing-plans__plans-row {
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .pricing-plans__plan-text {
    font-size: 1.5rem;
  }
  .pricing-plans__plan-price {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .pricing-plans__title {
    font-size: 5.8rem;
  }
  .pricing-plans__annual-block {
    margin-bottom: 58px;
  }
  .pricing-plans__plans-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pricing-plans__plan:nth-child(2) {
    transform: translateY(0px);
  }
}
@media (max-width: 510px) {
  .pricing-plans__title {
    font-size: 4.5rem;
  }
}
@media (max-width: 375px) {
  .pricing-plans__container {
    padding-top: 32px;
    padding-bottom: 0;
    &::before {
      content: '';
      top: -62px;
      left: -107px;
      height: 218px;
      width: 218px;
    }
    &::after {
      content: '';
      top: 101px;
      right: -107px;
      height: 240px;
      width: 240px;
    }
  }
  .pricing-plans__title {
    font-size: 32px;
    line-height: calc(40 / 32 * 100%);
    letter-spacing: -1px;
    margin-bottom: 16px;
  }
  .pricing-plans__annual-text {
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0px;
  }
  .pricing-plans__plan {
    padding: 24px 20px;
  }
  .pricing-plans__plan-icon {
    height: 32px;
    width: 32px;
    margin-bottom: 16px;
  }
  .pricing-plans__plan-title {
    font-size: 24px;
    line-height: calc(34 / 24 * 100%);
    letter-spacing: 0px;
    margin-bottom: 8px;
  }
  .pricing-plans__plan-text {
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0px;
    margin-bottom: 24px;
  }
  .pricing-plans__plan-price {
    font-size: 32px;
    line-height: calc(42 / 32 * 100%);
    letter-spacing: -1px;
    margin-bottom: 24px;
    span {
      font-size: 16px;
      line-height: calc(26 / 16 * 100%);
    }
  }
  .pricing-plans__plan-icluded {
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    margin-bottom: 16px;
  }
  .pricing-plans__plan-list {
    margin-bottom: 24px;
  }
  .pricing-plans__list-item {
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
  }
}
